# PUBLIC_APP_BASE_URL is the API base URL consumed by the Web Front.
PUBLIC_APP_BASE_URL=https://api.daejeon.jamissue.com
PUBLIC_NAVER_MAP_CLIENT_ID=YOUR_NAVER_MAP_CLIENT_ID
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_ANON_KEY=
